<div class="col s10"> 
                 
    <div 
    *ngFor="let image of images"   
    class="card1"
    >
  
        <img  [className]="'modal-trigger img'+image.id" (click)="openDialog(image.largeImageURL)"
          src={{image.largeImageURL}}  class="materialboxed"/>  

        <div class="bottom-info ">
          <div class="valign-wrapper">
            <div class="likes left-align">
                <i class="material-icons like" >favorite</i>
              <p class="like-text">{{image.likes}} Likes</p>
            </div>
          </div>

          <div class="user right-align">            
            <img class="user-image" src={{image.userImageURL}} alt="">
            <div class="user-name">{{image.user}}</div>
          </div>
        </div>
        

        <!-- <div class="modal" id="img-{{image.id}}">
            <img src="{{image.largeImageURL}}" alt="">
        </div> -->
    
    
    </div>  
    
    

</div>
