<div class="col s10"> 
                 
    <div 
    *ngFor="let image of images"   
    class="card1"
    >
        <a href="#img-{{image.id}}" class="modal-trigger card1">
        <div  [className]="'modal-trigger img'+image.id"
        [style.background-image]="'url('+image.largeImageURL+')'"
        >            
        </div>
        </a>

        <div class="modal" id="img-{{image.id}}">
            <img src="{{image.largeImageURL}}" alt="">
        </div>
    
    
    </div>  
    
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

</div>
