<div class="container-fluid">
    <div class="container form-container">
        <h1 class="center-align">TD form</h1>      

        <form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
            <!-- {{userForm.value | json}} -->
            <div class="form-group">
                <label for="">Name*</label>
                <input required #name="ngModel" type="text" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="username" ngModel>
                <div *ngIf="name.invalid && name.touched" class="error name-error">Username is required</div>
            </div>

            <div class="form-group">
                <label for="">Email*</label>
                <input required #email="ngModel" type="email" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" ngModel>
                <div *ngIf="email.invalid && email.touched" class="error name-error">Email is required</div>
            </div>

            <div class="form-group">
                <label for="">Phone*</label>
                <input required #phone="ngModel" pattern="^\d{10}$" type="tel" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" ngModel>
                <div *ngIf="phone.invalid && phone.touched" class="error name-error">Phone is required and must be 10 digits</div>
            </div>

            <button (click)="log(userForm)" [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit Form</button>
        </form>

    </div>
</div>