<div class="col s2 ">   

        <ul class="collection with-header sidebar">
            <li class="collection-header"><h4>Popular Searches</h4></li>

            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">Puppy</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">Toronto</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">Canada</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">Sports Car</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">Nature</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">calm</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">cats</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">joker</div></li>
            <li class="collection-item item"><div (click)="searchImagesByName($event.target.innerHTML)">super hero</div></li>
        </ul>
    
    
</div>